* {
    margin: 0;
    padding: 0;
    background-color: #FFFBF7;
}

#novi-servis-dgm, #ed-servis-dgm, #ss-servis-dgm{
    width: 350px;
    height: 80px;
    margin-top: 100px;
    margin-left: 210px;
    font-size: 30px;
}

#ks-h1{
    margin-top: 30px;
    margin-left: 700px;
    font-size: 55px;
}

#servis-ispis {
    margin-left: 50px;
    margin-top: 40px;
}

#edit-btn{
    width: 100px;
    font-size: 20px;
}