* {
    margin: 0;
    padding: 0;
    background-color: #FFFAF4;
}

#novi-servis-dgm, #ed-servis-dgm, #ss-servis-dgm{
    width: 350px;
    height: 80px;
    margin-top: 100px;
    margin-left: 210px;
    font-size: 30px;
}

#ks-h1{
    margin-top: 30px;
    margin-left: 700px;
    font-size: 55px;
}

